<div class="card-columns">
    <div class="card" *ngFor="let song of items" (click)="getArtist(song)">
      <img [src]="song.images | noimage" class="card-img-top" alt="song.name" />
      <div class="card-body">
        <h5 class="card-title">
          {{ song.name }} <small>({{ song.release_date | date: 'yyyy' }})</small>
        </h5>
        <p class="card-text">
          <span *ngFor="let artist of song.artists" class="badge badge-dark">{{
            artist.name
          }}</span>
        </p>
      </div>
    </div>
  </div>
